<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SysUser">

    <resultMap id="resultMap" type="com.kindergarten.business.model.SysUser">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="tel_phone" property="telPhone" jdbcType="VARCHAR"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="email_address" property="emailAddress" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="BIGINT"/>
        <result column="graduated_school" property="graduatedSchool" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="columns">
        id, user_name, password, tel_phone, real_name, email_address, age, graduated_school, status, create_time, update_time
    </sql>

    <insert id="insert" parameterType="com.kindergarten.business.model.SysUser">
        INSERT INTO sys_user
        (<include refid="columns"/>)
        VALUES
        (
            #{id, jdbcType=BIGINT},
            #{userName, jdbcType=VARCHAR},
            #{password, jdbcType=VARCHAR},
            #{telPhone, jdbcType=VARCHAR},
            #{realName, jdbcType=VARCHAR},
            #{emailAddress, jdbcType=VARCHAR},
            #{age, jdbcType=BIGINT},
            #{graduatedSchool, jdbcType=VARCHAR},
            1,
            now(),
            now()
        )
    </insert>

    <!--根据id查询用户详情-->
    <select id="queryByUserName" parameterType="java.lang.String" resultMap="resultMap">
        SELECT <include refid="columns"/> FROM sys_user WHERE user_name =  #{userName, jdbcType=VARCHAR} AND status = 1
    </select>

    <select id="queryAllUser" resultMap="resultMap">
        <include refid="MYSQL.paginationStart" />
        SELECT <include refid="columns"/>
        FROM sys_user
        WHERE status = 1
        ORDER BY create_time DESC
        <include refid="MYSQL.paginationEnd" />
    </select>
</mapper>